 body {
     font-family: "Roboto", sans-serif;
     color: #434455;
     background-color: #FFFFFF;
 }

 ul {
     margin: 0;
     padding: 0;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     margin: 0;
 }

 img {
    display: block;
    max-width: 100%;
    height: auto;
 }

 .container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
 }

 .section {
    padding: 120px 0;
 }

 .page-header {
     border-bottom: 1px solid #e7e9fc;
     box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
 }

 .header-container {
     display: flex;
     align-items: center;
 }

 .header-navigation {
     display: flex;
     align-items: center;
 }

 .logo {
     font-family: "Raleway", sans-serif;
     color: #4D5AE5;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     font-weight: 700;
     text-decoration: none;
 }

 .header-logo {
     padding: 24px 0;
     margin-right: 76px;
 }

 .info {
     font-style: normal;
     margin-left: auto;
 }

 .logo-part {
     color: #2E2F42;
     font-size: 18px;
     line-height: 1.17;
 }

 .navigation {
     list-style-type: none;
     display: flex;
     align-items: center;
     gap: 40px;
 }

 .contacts {
     list-style-type: none;
     display: flex;
     align-items: center;
     gap: 40px;
 }

 .nav-item {
     color: #2E2F42;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     background-color: #FFFFFF;
     font-weight: 500;
     text-decoration: none;
     padding: 24px 0;
     display: block;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .nav-item.current {
     position: relative;
     color: #404bbf
 }
 
 .nav-item.current::after {
     content: "";
     width: 100%;
     height: 4px;
     position: absolute;
     left: 0;
     bottom: -1px;
     background-color: #404bbf;
     border-radius: 2px;
 }


 .contacts-item {
     color: #434455;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     background-color: #FFFFFF;
     text-decoration: none;
     padding: 24px 0;
     display: block;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .container {
     max-width: 1158px;
     padding: 0 15px;
     margin: 0 auto;
 }

 .main-heading {
     color: #FFFFFF;
     font-size: 56px;
     line-height: 1.07;
     letter-spacing: 0.02em;
     text-align: center;
     max-width: 496px;
     font-weight: 700;
     margin: 0 auto 48px auto;

 }

 .order-btn {
     font-family: "Roboto", sans-serif;
     color: #FFFFFF;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     background-color: #4D5AE5;
     font-weight: 500;
     cursor: pointer;
     display: block;
     min-width: 169px;
     height: 56px;
     border: none;
     border-radius: 4px;
     padding: 16px 32px;
     margin: 0 auto;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .accent {
     background-color: #2E2F42;
     padding: 188px 0;
     background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url( ../images/hero-background.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     max-width: 1440px;
     margin: 0 auto;
 }

 .advantages {
    padding: 120px 0;
 }

 .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
 
 .advantages-list {
     list-style-type: none;
     display: flex;
     gap: 24px;
     justify-content: center;
 }

 .advantages-item {
    width: calc((100% - 72px) / 4);
 }

 .adv-icon-frame {
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    padding: 18px 100px 30px 100px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
 }

 .advantages-title {
     color: #2E2F42;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     background-color: #FFFFFF;
     font-weight: 500;
     margin-bottom: 8px;
 }

 .advantages-text {
     color: #434455;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     background-color: #FFFFFF;
 }

 .team {
     background-color: #F4F4FD;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 72px;
     padding: 120px 0;
 }

 .team-title {
     color: #2E2F42;
     font-size: 36px;
     text-align: center;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-transform: capitalize;
     margin-bottom: 72px;
 }

 .team-list {
     list-style-type: none;
     display: flex;
     gap: 24px;
 }

 .team-item {
     background-color: #FFFFFF;
     display: flex;
     flex-direction: column;
     border-radius: 0px 0px 4px 4px;
     overflow: hidden;
     width: calc((100% - 72px) / 4);
     box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
 }

 .team-description {
     padding: 32px 0;
 }

 .team-subtitle {
     color: #2E2F42;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     font-weight: 500;
     text-align: center;
     margin-top: 32px;
     margin-bottom: 8px;
 }

 .team-text {
     color: #434455;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     text-align: center;
 }

 .team-socials-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
 }

 .team-socials-list-item {
    width: 40px;
    height: 40px;
 }

 .team-socials-link {
     width: 100%;
     height: 100%;
     background-color: #4D5AE5;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .team-socials-link:hover {
     background-color: #404bbf;
 }

 .team-socials-link:focus {
    background-color: #404bbf;
 }

 .socials-icon {
    fill: #F4F4FD;
 }
 .portfolio {
     background-color: #FFFFFF;
     padding: 120px 0;
 }

 .portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
 }

 .portfolio-list {
     list-style-type: none;
     display: flex;
     flex-wrap: wrap;
     gap: 24px;
     row-gap: 48px;
     display: flex;
     flex-wrap: wrap;
     column-gap: 24px;
     row-gap: 48px;
 }

 .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .image-container {
    position: relative;
    overflow: hidden;
 }

 .overlay-text {
    position: absolute;
    top: 0;
    padding: 40px 32px;
    font-family: "Roboto", sans-serif;
    color: #F4F4FD;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
 }

 .portfolio-item:hover .overlay-text {
    transform: translateY(0);
 }

 .portfolio-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
 }

 .portfolio-subtitle {
     color: #2E2F42;
     font-size: 20px;
     line-height: 1.2;
     font-weight: 500;
     letter-spacing: 0.02em;
     margin-bottom: 8px;
 }

 .portfolio-text {
     color: #434455;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
 }

 .nav-item:hover {
     color: #404bbf;
}

 .nav-item:focus {
     color: #404bbf;
 }

 .contacts-item:hover {
     color: #404bbf;   
 }

 .contacts-item:focus {
     color: #404bbf;
 }

 .order-btn:hover {
     background-color: #404bbf;    
 }

 .order-btn:focus {
     background-color: #404bbf;
 }

 .subaccent {
     background-color: #2E2F42;
     padding: 100px 0;
     text-align: left;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.subaccent-container {
    margin-right: 120px;
}

 .bottom-part {
     color: #F4F4FD;
 }

 .subaccent-logo {
    display: inline-block;
    margin-bottom: 16px;
 }

 .sub-text {
     line-height: 1.5;
     color: #F4F4FD;
     letter-spacing: 0.02em;
     max-width: 264px;
 }

 .sub-socials-title {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
 }

 .subaccent-socials-list {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 16px;
 }

 .sub-socials-list-item {
    width: 40px;
    height: 40px;
 }

 .sub-socials-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .sub-socials-link:hover {
    background-color: #31d0aa;
 }

 .sub-socials-link:focus {
    background-color: #31d0aa;
 }